
<div class="container text-md-start">
    <p class="title-top-md-2">BCI Background Check</p>
    <div class="text-div-title">
        Purpose:
    </div>
    <div class="text-div">
        BCI checks are often used for employment, volunteer work, licensing, and other situations where an individual's criminal history needs to be reviewed.
    </div>
    <div class="text-div-title">
        How it Works:
    </div>
    <div class="text-div">
        The BCI uses fingerprints to search the state's criminal records database, revealing any criminal history within Ohio.
    </div>
    <div class="text-div-title">
        Obtaining a BCI Check:
    </div>
    <div class="text-div">
        You can typically obtain a BCI background check through various authorized locations, including school districts, educational service centers, or local law enforcement agencies.
    </div>
    <div class="text-div-title">
        Fingerprinting:
    </div>
    <div class="text-div">
        Fingerprints are required to conduct the BCI check.
    </div>
    <div class="text-div-title">
        Processing Time:
    </div>
    <div class="text-div">
        BCI checks generally have a processing time of 1-3 business days for fingerprinting done at certain locations.
    </div>
</div>
