
<div class="page-wrapper">
    <div class="container text-md-start">
        <p class="title-top-md-2-1">FBI Background Check</p>
        <div class="text-div-title">
            How it works:
        </div>
        <div class="text-div-title">
            1. Request:
        </div>
        <div class="text-div">
            Individuals can request their own criminal history summary by completing a written request and submitting fingerprints to the FBI's Criminal Justice Information Services (CJIS) Division.    </div>
        <div class="text-div-title">
            2. Fingerprinting:
        </div>
        <div class="text-div">
            Fingerprints are required to verify identity and access the criminal history record. Ink fingerprints can be obtained at local police departments or some private fingerprinting companies.
        </div>
        <div class="text-div-title">
            3. Processing:
        </div>
        <div class="text-div">
            The FBI compares the fingerprints against its database to determine if there is a criminal record.
        </div>
        <div class="text-div-title">
            4. Report:
        </div>
        <div class="text-div">
            The FBI provides a report summarizing the individual's criminal history, often referred to as a "rap sheet".
        </div>
        <div class="text-div-title">
            5. National Instant Criminal Background Check System (NICS):
        </div>
        <div class="text-div">
            The NICS is a separate system used by licensed Federal Firearms Licensees (FFLs) to check if an individual is legally eligible to purchase a firearm.
        </div>
        <div class="text-div-title">
            Who needs an FBI background check?
        </div>
        <div class="text-div">
            - Individuals seeking a copy of their own criminal history.
        </div>
        <div class="text-div">
            - Individuals applying for certain licenses or jobs that require a national background check.
        </div>
        <div class="text-div">
            - Law enforcement agencies for various purposes. 
        </div>
    </div>
</div>
