
<div class="page-wrapper">
    <p class="title-top-md-2-1">Administrator Login</p>
    <div class="login-div">
        <p></p>
        <form class="form-login-div">
            <div class="row mb-3">
                <label for="colFormLabel" class="col-3 col-form-label">Username</label>
                <div class="col-7">
                    <input type="search" class="form-control" id="user-name" autocomplete="off" maxlength="20"
                            style="text-transform: lowercase" (input)="onUsernameEntry()">
                </div>
            </div>
            <div class="row mb-3">
                <label for="colFormLabel" class="col-3 col-form-label">Password</label>
                <div class="col-7">
                    <input type="password" class="form-control" id="user-password" autocomplete="off" maxlength="20"
                            (input)="onUserPasswordEntry()">
                </div>
            </div>
            <small class="text-danger" *ngIf="errorMessage != ''">{{apiStatus?.responseMessage}}</small>
        </form>
        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
            <button type="button" class="btn btn-outline-secondary" routerLink="/home">Cancel</button>
            <button type="button" class="btn btn-secondary" [disabled]="!userName || !userPassword" (click)="clickLogin()">Login</button>
        </div>
        <p></p>
    </div>   
</div>


