
<div class="page-wrapper">
    <div class="container text-md-start">
        <p class="title-top-md-2">Trusted Local Provider of Advanced Digital Fingerprinting Services</p>
        <p class="title-home">Let <b>SecurePrints</b> help you move forward with confidence. We're here to make background checks simple, secure, and stress-free</p>
        <div class="text-div" style="color: #004A80">
            At <b>SecurePrints</b> is your trusted local WebCheck provider, dedicated to supporting both individuals and organizations during the hiring and licensing process. We offer fast and secure <b>LiveScan fingerprinting</b> for <b>BCI</b> and <b>FBI background checks</b>, helping you meet compliance requirements with ease and efficiency.
        </div>

        <div id="carouselInterval" class="carousel slide"  style="width: 80%; margin-left: 10%;" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselInterval" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselInterval" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselInterval" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselInterval" data-bs-slide-to="3" aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="6000">
                    <img src="https://secure-prints-s3.s3.us-east-2.amazonaws.com/image/Slide1.JPG" 
                        class="d-block w-100" alt="Slide-1" data-bs-toggle="modal" data-bs-target="#image-modal-1">
                </div>
                <div class="carousel-item" data-bs-interval="6000">
                    <img src="https://secure-prints-s3.s3.us-east-2.amazonaws.com/image/Slide2.JPG" 
                        class="d-block w-100" alt="Slide-2" data-bs-toggle="modal" data-bs-target="#image-modal-2">
                </div>
                <div class="carousel-item" data-bs-interval="6000">
                    <img src="https://secure-prints-s3.s3.us-east-2.amazonaws.com/image/Slide3.JPG" 
                        class="d-block w-100" alt="Slide-3" data-bs-toggle="modal" data-bs-target="#image-modal-3">
                </div>
                <div class="carousel-item" data-bs-interval="6000">
                    <img src="https://secure-prints-s3.s3.us-east-2.amazonaws.com/image/Slide4.JPG" 
                        class="d-block w-100" alt="Slide-4" data-bs-toggle="modal" data-bs-target="#image-modal-4">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselInterval" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselInterval" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="image-modal-1">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-body">
        <img src="https://secure-prints-s3.s3.us-east-2.amazonaws.com/image/Slide1.JPG" width="100%" height="100%">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" id="image-modal-2">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-body">
        <img src="https://secure-prints-s3.s3.us-east-2.amazonaws.com/image/Slide2.JPG" width="100%" height="100%">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" id="image-modal-3">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-body">
        <img src="https://secure-prints-s3.s3.us-east-2.amazonaws.com/image/Slide3.JPG" width="100%" height="100%">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" id="image-modal-4">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-body">
        <img src="https://secure-prints-s3.s3.us-east-2.amazonaws.com/image/Slide4.JPG" width="100%" height="100%">
      </div>
    </div>
  </div>
</div>
