
<div class="page-wrapper">
    <p class="title-top-md-2-1">Contact SecurePrints</p>
    <div class="container text-md-start">

        <span class="info-color-1">Business Hours: <span class="info-color-2">Monday to Friday: 10:00 AM to 4:00 PM</span></span> <br>
        <span class="info-color-1">Email: <span class="info-color-2">{{company.companyEmail}}</span></span> <br>
        <span class="info-color-1">Phone: <span class="info-color-2">{{company.companyPhone}}</span></span> <br>
        <span class="info-color-1">Address: <span class="info-color-2">{{company.companyAddress1}}, {{company.companyAddress2}}</span></span> <br>

        <!-- ALERT MESSAGE -->
        <br>
        <div id="alert" class={{alertType}} role="alert" hidden>
            {{responseMessage}}
        </div>
        <p></p>

        <label style="font-size: large">To submit a message to <b>SecurePrints</b> team, please fill in the below form:</label>
        <p></p>
        <form class="form-floating">
            <div class="form-floating mb-3 col-sm-4">
                <input type="text" class="form-control {{reqName}}" name="customerName" autocomplete="off" [(ngModel)]="customerName" placeholder="Name" maxlength="30"
                    (input)="onCustomerNameEntry()">
                <label>Name</label>
            </div>
            <div class="form-floating mb-3 col-sm-4">
                <input type="email" class="form-control {{reqEmail}}" name="customerEmail" autocomplete="off" [(ngModel)]="customerEmail" placeholder="Email Address" maxlength="60"
                    style="text-transform: lowercase" (input)="onCustomerEmailEntry()">
                <label>Email Address</label>
            </div>
            <div class="form-floating col-sm-9">
                <textarea id="message-text" class="form-control {{reqMessage}}" style="height: 140px" name="messageText" autocomplete="off" [(ngModel)]="messageText" placeholder="Message" maxlength="1000"
                    (input)="onMessageTextEntry()"></textarea>
                <label>Message</label>
            </div>
            <div class="mb-3 col-sm-9" style="text-align: right">
                <small>{{messageLength}}/1000</small>
            </div>
            <div class="d-grid gap-2 d-md-flex col-sm-9 justify-content-md-end">
                <!--<button type="button" class="btn btn-outline-primary" routerLink="/home">Home</button>-->
                <button type="button" class="btn btn-outline-primary" (click)="clickResetForm()">Reset Form</button>
                <button type="button" class="btn btn-primary" [disabled]="!validaeRequiedFields()" (click)="sendContactEmail()">Submit Message</button>
            </div>
        </form>

    </div>
</div>