
<div class="page-wrapper">
    <p class="title-top-md-2-1">Settings</p>
    <div class="container text-md-start">
        
        <ul class="nav nav-tabs" id="settings-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="user-tab" data-bs-toggle="tab" data-bs-target="#user-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true" (click)="selectUser()">User</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="company-tab" data-bs-toggle="tab" data-bs-target="#company-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false" (click)="selectCompany()">Company</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="reason-tab" data-bs-toggle="tab" data-bs-target="#reason-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Reason List</button>
            </li>
        </ul>
        <p></p>

        <div class="tab-content" id="settings-tab-content">
            <!-- USER INFORMATION -->
            <div class="tab-pane fade show active" id="user-tab-pane" role="tabpanel" aria-labelledby="user-tab" tabindex="0">
                <div class="row g-1 gap-3">
                    <div class="card col-md-3" *ngFor="let item of userList; let i = index">
                        <div class="card-header">
                            <h6 style="color: rgb(127, 127, 129)">{{item.userName}}</h6>
                        </div>
                        <div class="card-body">
                            <!-- ALERT MESSAGE -->
                            <div id="user-alert" *ngIf="item.userName == userName" class={{alertType}} style="font-size: meduim; text-align: center" role="alert" hidden>
                                {{responseMessage}}
                            </div>

                            <div class="input-group">
                                <div class="input-group-text">Full Name</div>
                                <input type="text" class="form-control form-control-sm" [(ngModel)]="item.userFullName" maxlength="60">
                            </div>
                            <p></p>
                            <div class="form-check form-switch">
                                <input id="active-user" type="checkbox" class="form-check-input" [disabled]="item.userName == currentUser" [(ngModel)]="item.userStatus">
                                <label class="form-check-label">Active User</label>
                            </div>
                            <p></p>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                                <button type="button" class="btn btn-primary" *ngIf="item.userName == currentUser" (click)="clickChangePassword()">Change Password</button>
                                <button type="button" class="btn btn-warning" *ngIf="item.userName != currentUser" (click)="clickResetPassword(item.userName)">Reset Password</button>
                                <button type="button" class="btn btn-success" (click)="clickSaveUser(item)">Save Changes</button>
                            </div>
                            <p></p>
                            <div class="row g-1 gap-3" *ngIf="showChangePassword && item.userName == currentUser">
                                <div class="form-floating">
                                    <input type="password" class="form-control form-control-sm col-md-5" [(ngModel)]="userPassword" maxlength="20" placeholder="New Password">
                                    <label for="floatingPassword">New Password</label>
                                </div>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                                    <button type="reset" class="btn btn-light" *ngIf="userPassword.length > 3" (click)="clickCancelChangePassword()">Cancel</button>
                                    <button type="button" class="btn btn-success" *ngIf="userPassword.length > 3" (click)="clickSavePassword(item.userPassword, userPassword)">Save Password</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Add New User -->
                    <div class="card col-md-3">
                        <div class="card-header" style="background-color: #004A80; color: rgb(227, 229, 233)">
                            <h6>+ Add New User</h6>
                        </div>
                        <div class="card-body">
                            <!-- ALERT MESSAGE -->
                            <div id="add-user-alert" class={{alertType}} style="font-size: meduim; text-align: center" role="alert" hidden>
                                {{responseMessage}}
                            </div>

                            <div class="input-group">
                                <div class="input-group-text">Full Name <span class="required-field">*</span></div>
                                <input type="text" class="form-control form-control-sm" [(ngModel)]="newUserFullName" autocomplete="off" maxlength="60">
                            </div>
                            <p></p>
                            <div class="input-group">
                                <div class="input-group-text">Username <span class="required-field">*</span></div>
                                <input type="text" class="form-control form-control-sm" style="text-transform: lowercase" [(ngModel)]="newUserName" autocomplete="off" maxlength="20">
                            </div>
                            <p></p>
                            <div class="input-group">
                                <div class="input-group-text">Password <span class="required-field">*</span></div>
                                <input type="password" class="form-control form-control-sm" [(ngModel)]="newUserPassword" autocomplete="off" maxlength="20">
                            </div>
                            <p></p>
                            <div class="form-check form-switch">
                                <input type="checkbox" class="form-check-input" [(ngModel)]="newUserStatus">
                                <label class="form-check-label">Active User</label>
                            </div>
                            <p></p>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                                <button type="button" class="btn btn-light" (click)="clickReset()">Reset</button>
                                <button type="button" class="btn btn-success" [disabled]="newUserFullName == '' || newUserName == '' || newUserPassword == ''" (click)="clickAddUser()">Add User</button>
                            </div>
                        </div>
                    </div>

                </div>                
            </div>

            <!-- COMPANY INFORMATION -->
            <div class="tab-pane fade" id="company-tab-pane" role="tabpanel" aria-labelledby="company-tab" tabindex="0">
                <div class="card col-md-4">
                    <div class="card-header">
                        <h6>Company Information</h6>
                    </div>
                    <div class="card-body">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="companyName" placeholder="Company Name" maxlength="60">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="companyAddress1" placeholder="Address Line 1" maxlength="100">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="companyAddress2" placeholder="Address Line 2" maxlength="100">
                        <input type="tel" class="form-control form-control-sm" [(ngModel)]="companyPhone" inputmode="numeric" 
                            (keypress)="allowOnlyNumbers($event)" [value]="formattedPhone" (input)="onPhoneEntry($event)" placeholder="Phone" minlength="14" maxlength="14">
                        <input id="company-email" type="email" class="form-control form-control-sm" [(ngModel)]="companyEmail" placeholder="Email" maxlength="60">
                        <p></p>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button type="button" class="btn btn-success" (click)="clickSaveCompany()">Save</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- REASON LIST -->
            <div class="tab-pane fade" id="reason-tab-pane" role="tabpanel" aria-labelledby="reason-tab" tabindex="0">
                <div class="card col-md-5">
                    <div class="card-header">
                        <h6>Reason List</h6>
                    </div>
                    <div class="card-body">
                        <!-- ALERT MESSAGE -->
                        <div id="alert" class={{alertType}} style="font-size: meduim; text-align: center" role="alert" hidden>
                            {{responseMessage}}
                        </div>
                        <div class="d-grid gap-4 justify-content-md-left">
                            <button type="button" class="btn btn-success" (click)="clickRefreshReasonList()">Refresh Reason List</button>
                            <div class="input-group mb-3">
                                <input id="input-file" type="file" class="form-control" [(ngModel)]="fileName" (input)="onFileSelected($event)">
                                <button type="button" class="btn btn-secondary" [disabled]="fileName == ''" [hidden]="loadingButton" (click)="clickImportReasonDataFile()">Import Reason Data File</button>
                                <button class="btn btn-secondary" type="button" [hidden]="!loadingButton">
                                    Loading...
                                    <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                                </button> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>