
<main class="main-content" style="background-image: url('assets/bg-4.jpg'); background-size: cover">
  <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: rgb(243, 251, 243);" data-bs-theme="light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/home">
        <img src="assets/logo-secure-prints.png" alt="Logo" class="logo" width="310" height="55">
        <div class="logo-text">Background Check Services</div>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/about-us">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/bci-fbi-background">BCI & FBI Background Checks</a>
          </li>
          <!--<li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/fbi-background">FBI Background</a>
          </li>-->
        </ul>
      </div>

      <form class="d-flex">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="submit" class="btn btn-success btn-sm rounded-text" routerLink="/schedule">Schedule Appointment</button>
          <button type="submit" class="btn btn-warning btn-sm rounded-text" routerLink="/reschedule-cancel">Reschedule / Cancel Appointment</button>
            <div class="dropdown" role="group" *ngIf="isLoggedIn">
                <button type="button" class="btn btn-secondary btn-sm rounded-text dropdown-toggle" style="background-color: #004A80; color: rgb(227, 229, 233)"
                        data-bs-toggle="dropdown" aria-expanded="false">
                  Administrator Options
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" routerLink="/appointment">Appointment</a></li>
                  <li><a class="dropdown-item" routerLink="/home">Payment</a></li>
                  <li><a class="dropdown-item" routerLink="/home">Invoice</a></li>
                  <li><a class="dropdown-item" routerLink="/home">Expense</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" routerLink="/home" (click)="clickLogout()">Logout</a></li>
                </ul>
            </div>
        </div>
      </form>
    </div>
  </nav>
  <router-outlet></router-outlet>
</main>

<footer class="footer">
  <div class="container-fluid">
    <div class="row g-0">
      <div class="col-md-4 text-md-start mb-3 mb-md-0">
        <p class="mb-1">{{company.companyAddress1}}</p>
        <p class="mb-1">{{company.companyAddress2}}</p>
        <p class="mb-1">☏ {{company.companyPhone}}</p>
        <p class="mb-1">✉︎ {{company.companyEmail}}</p>
      </div>

      <div class="col-md-4 mb-2 mb-md-0">
        <a class="mb-1" style="color: rgb(227, 229, 233)" routerLink="/privacy-policy">Privacy Policy</a>
        <p></p>
        <p class="mb-1">© {{currentYear}} {{company.companyName}}. All Rights Reserved.</p>
      </div>

      <div class="col-md-4 text-md-end">
        <div class="d-grid gap-2 col-7 mx-auto">
          <button type="button" class="btn btn-outline-light btn-sm rounded-text" routerLink="/schedule">Schedule Appointment</button>
          <button type="button" class="btn btn-outline-light btn-sm rounded-text" routerLink="/reschedule-cancel">Reschedule / Cancel Appointment</button>
        </div>
      </div>
    </div>
  </div>
</footer>

