
<div class="page-wrapper">
    <p class="title-top-md-2-1">Payment Information</p>
    <div class="container text-md-start">
        <form class="row row-cols-lg-auto g-3 align-items-center">
            <div class="col-12">
                <div class="input-group">
                    <div class="input-group-text">Start Date</div>
                    <input type="date" id="start-date" class="form-control" [value]="startDate" 
                            [style]="startDate == '' ? 'color: white' : 'color: black'" (input)="onStartDateEntry()">
                </div>
            </div>
            <div class="col-12">
                <div class="input-group">
                    <div class="input-group-text">End Date</div>
                    <input type="date" id="end-date" class="form-control" [value]="endDate" 
                            [style]="endDate == '' ? 'color: white' : 'color: black'" (input)="onEndDateEntry()">
                </div>
            </div>
            <div class="col-12">
                <button type="button" class="btn btn-primary position-relative" (click)="clickView()">
                    View Report
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        {{paymentList.length}}
                        <span class="visually-hidden">unread messages</span>
                    </span>
                </button>
            </div>
            <div class="col-12">
                <button type="button" class="btn btn-outline-primary" (click)="clickReset()" [hidden]="startDate == '' || endDate == ''">Reset</button>
            </div>
            <div class="col-12">
                <div class="form-check form-switch" [hidden]="startDate == '' || endDate == ''">
                    <input class="form-check-input" id="switch-check" type="checkbox" (click)="clickFilterSwitch()">
                    <label class="form-check-label">Show non-reconciled payments</label>
                </div>
            </div>
        </form>

        <p></p>
        <form class="g- table-responsive" style="height: 690px; overflow-y: auto;">
            <table class="table table-hover">
                <thead style="position: sticky; top: 0; background: white; z-index: 10">
                    <th>Appointment ID</th>
                    <th>Service Amount</th>
                    <th>BCI Amount</th>
                    <th>Payment Method</th>
                    <th>Payment Status</th>
                    <th>Payment Date</th>
                    <th>Reconcile Date</th>
                    <th>Actions</th>
                </thead>
                <tbody *ngFor="let item of paymentList; let i = index">
                    <tr>
                        <th style="cursor: pointer" (click)="clickAppointmentId(item)"><small>{{item.appointmentId}}</small></th>
                        <td (click)="reset()"><small>{{item.serviceAmount|currency}}</small></td>
                        <td (click)="reset()"><small>{{item.bciAmount|currency}}</small></td>
                        <td (click)="reset()"><small>{{getPaymentMethodName(item.paymentMethodCode)}}</small></td>
                        <td (click)="reset()"><small>{{getPaymentStatusName(item.paymentStatusCode)}}</small></td>
                        <td (click)="reset()"><small>{{item.paymentDate|date:'MM/dd/yyyy'}}</small></td>
                        <td (click)="reset()"><small>{{item.paymentReconcileDate|date:'MM/dd/yyyy'}}</small></td>
                        <td>
                            <div class="input-group mb-0">
                                <input type="date" name="selected-date{{i}}" class="form-control form-control-sm" [(ngModel)]="selectedDate[i]" [hidden]="item.paymentStatusCode == 201 || !item.paymentUpdate"
                                    [style]="selectedDate[i] == null ? 'color: white' : 'color: black'" (input)="onSelectedDateEntry(i)">
                                <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" 
                                    aria-expanded="false" [hidden]="!item.paymentUpdate || selectedDate[i] == null">Choose...</button>
                                <ul class="dropdown-menu dropdown-menu-end" style="cursor: pointer">
                                    <li><a class="dropdown-item" [hidden]="item.paymentReconcileDate != null"
                                        (click)="selectReconcile(item.appointmentId, i)">Reconcile</a></li>
                                    <li><a class="dropdown-item" [hidden]="item.paymentComment != null && item.paymentComment.startsWith('Refund')" (click)="selectRefund(item.appointmentId, i)">Refund</a></li>
                                </ul>
                            </div>                        
                        </td>
                    </tr>
                    <tr *ngIf="showDetails && item.appointmentId == selectedAppointmentId">
                        <td colspan="8">
                            <p style="color: blue">{{item.paymentComment}}</p>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr *ngIf="paymentList.length > 0">
                        <td class="text-left" style="color: rgb(126, 124, 124)">
                            <p>Report Summary:</p>
                            <p>&emsp;Processed</p>
                            <p>&emsp;Pending</p>
                            <p>&emsp;Refund</p>
                            <p>T O T A L</p>  
                            <p>Reconciled</p>
                        </td>
                        <td class="text-left" style="color: rgb(126, 124, 124)">
                            <p style="color: white">-</p>
                            <p>{{sProcessed|currency}}</p>
                            <p>{{sPending|currency}}</p>
                            <p>{{sRefund|currency}}</p>
                            <p>{{sTotal|currency}}</p>
                            <p>{{sReconciled|currency}}</p>
                        </td>
                        <td class="text-left" style="color: rgb(126, 124, 124)">
                            <p style="color: white">-</p>
                            <p>{{bProcessed|currency}}</p>
                            <p>{{bPending|currency}}</p>
                            <p>{{bRefund|currency}}</p>
                            <p>{{bTotal|currency}}</p>
                            <p>{{bReconciled|currency}}</p>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr *ngIf="paymentList.length == 0">
                        <td class="text-center" style="color: rgb(126, 124, 124)" colspan="7">
                            There is no report data to view
                        </td>
                    </tr>
                </tfoot>
            </table>
        </form>

    </div>
</div>