
<div class="page-wrapper">
    <p class="title-top-md-2-1">Expense Information</p>
    <div class="container text-md-start">
        <form class="row row-cols-lg-auto g-3 align-items-center">
            <div class="col-12">
                <div class="input-group">
                    <div class="input-group-text">Start Date</div>
                    <input type="date" id="start-date" class="form-control" [value]="startDate" 
                            [style]="startDate == '' ? 'color: white' : 'color: black'" (input)="onStartDateEntry()">
                </div>
            </div>
            <div class="col-12">
                <div class="input-group">
                    <div class="input-group-text">End Date</div>
                    <input type="date" id="end-date" class="form-control" [value]="endDate" 
                            [style]="endDate == '' ? 'color: white' : 'color: black'" (input)="onEndDateEntry()">
                </div>
            </div>
            <div class="col-12">
                <button type="button" class="btn btn-primary position-relative" (click)="clickView()">
                    View Report
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        {{expenseList.length}}
                        <span class="visually-hidden">unread messages</span>
                    </span>
                </button>
            </div>
            <div class="col-12">
                <button type="button" class="btn btn-outline-primary" (click)="clickReset()" [hidden]="startDate == '' || endDate == ''">Reset</button>
            </div>
            <div class="col-12">
                <div class="form-check form-switch" [hidden]="startDate == '' || endDate == ''">
                    <input class="form-check-input" id="switch-check" type="checkbox" (click)="clickFilterSwitch()">
                    <label class="form-check-label">Show non-reconciled expenses</label>
                </div>
            </div>
            <div class="col-12">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#expense-modal" (click)="clickAddExpense()">
                    Add Expense
                </button>
            </div>
        </form>

        <p></p>
        <!-- ALERT MESSAGE -->
        <div id="alert" class={{alertType}} role="alert" hidden>
            {{responseMessage}}
        </div>
        <p></p>

        <form class="g- table-responsive" style="height: 690px; overflow-y: auto;">
            <table class="table table-hover">
                <thead style="position: sticky; top: 0; background: white; z-index: 10">
                    <th>Reference #</th>
                    <th>Reference Date</th>
                    <th>Client Name</th>
                    <th>Expense Amount</th>
                    <th>Payment Method</th>
                    <th>Payment Status</th>
                    <th>Payment Date</th>
                    <th>Reconcile Date</th>
                    <th>Actions</th>
                </thead>
                <tbody *ngFor="let item of expenseList; let i = index">
                    <tr>
                        <th style="cursor: pointer" data-bs-toggle="modal" data-bs-target="#expense-modal" (click)="clickReference(item)"><small>{{item.expenseReferenceNumber}}</small><span *ngIf="item?.expenseDescription?.startsWith('Refund')"> 🪪</span></th>
                        <td (click)="reset()"><small>{{item.expenseReferenceDate|date:'MM/dd/yyyy'}}</small></td>
                        <td (click)="reset()"><small>{{item.expensePayeeName}}</small></td>
                        <td (click)="reset()"><small>{{item.expenseAmount|currency}}</small></td>
                        <td (click)="reset()"><small>{{getPaymentMethodName(item.expensePaymentMethodCode)}}</small></td>
                        <td (click)="reset()"><small>{{getPaymentStatusName(item.expensePaymentStatusCode)}}</small></td>
                        <td (click)="reset()"><small>{{item.expensePaymentDate|date:'MM/dd/yyyy'}}</small></td>
                        <td (click)="reset()"><small>{{item.expenseReconcileDate|date:'MM/dd/yyyy'}}</small></td>
                        <td>
                            <div class="input-group mb-0">
                                <input type="date" name="selected-date{{i}}" class="form-control form-control-sm" [(ngModel)]="selectedDate[i]" [hidden]="item.expensePaymentStatusCode == 201 || !item.expenseUpdate"
                                    [style]="selectedDate[i] == null ? 'color: white' : 'color: black'" (input)="onSelectedDateEntry(i)">
                                <button class="btn btn-outline-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" 
                                    aria-expanded="false" [hidden]="!item.expenseUpdate || selectedDate[i] == null">Choose...</button>
                                <ul class="dropdown-menu dropdown-menu-end" style="cursor: pointer">
                                    <li><a class="dropdown-item" [hidden]="item.expenseReconcileDate != null"
                                        (click)="selectReconcile(item.expenseId, i)">Reconcile</a></li>
                                    <li><a class="dropdown-item" [hidden]="item.expenseDescription != null && item.expenseDescription.startsWith('Refund')" (click)="selectRefund(item.expenseId, i)">Refund</a></li>
                                </ul>
                            </div>                        
                        </td>
                    </tr>
                    <tr *ngIf="showDetails && item.expenseId == selectedExpenseId">
                        <td colspan="9">
                            <p style="color: blue">{{item.expenseDescription}}</p>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr *ngIf="expenseList.length > 0">
                        <td class="text-left" style="color: rgb(126, 124, 124)">
                            <p>Report Summary:</p>
                            <p>&emsp;Processed</p>
                            <p>&emsp;Pending</p>
                            <p>&emsp;Refund</p>
                            <p>T O T A L</p>  
                            <p>Reconciled</p>
                        </td>
                        <td class="text-left" style="color: rgb(126, 124, 124)">
                            <p style="color: white">-</p>
                            <p>{{eProcessed|currency}}</p>
                            <p>{{ePending|currency}}</p>
                            <p>{{eRefund|currency}}</p>
                            <p>{{eTotal|currency}}</p>
                            <p>{{eReconciled|currency}}</p>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr *ngIf="expenseList.length == 0">
                        <td class="text-center" style="color: rgb(126, 124, 124)" colspan="9">
                            There is no report data to view
                        </td>
                    </tr>
                </tfoot>
            </table>
        </form>

        <!-- EXPENSE MODAL -->
        <div class="modal" tabindex="-1" id="expense-modal">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{modalTitle}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form class="row g-3">
                            <div class="form-floating col-md-3">
                                <input type="text" class="form-control form-control-sm col-md-5" name="refNumber" [(ngModel)]="refNumber" maxlength="30" placeholder="Reference Number" required>
                                <label>Reference Number<span class="required-field">*</span></label>
                            </div>
                            <div class="form-floating col-md-2">
                                <input type="date" class="form-control form-control-sm col-md-5" name="refDate" [style]="refDate == '' ? 'color: white' : 'color: black'" [(ngModel)]="refDate" placeholder="Reference Date" required>
                                <label>Reference Date<span class="required-field">*</span></label>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary" (click)="clickSaveExpense()">{{saveButton}}</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>